body {
    margin: 0;
    padding: 0;
}

#root {
    background-color: #fff;
    height: 4vh;
}
.header-mg {
    background-color: rgba(0, 0, 0, 0.87)!important;
    color: #fafafa;
}
.info-bg {
    color: #fafafa;
    background: linear-gradient(45deg, #15c94c 30%, rgb(30, 240, 21) 90%);
    box-shadow: 0 3px 5px 2px rgba(68, 145, 92, 0.3);
    border-radius: 3px;
}
.main-link {
    color: #fff;
}

.call_command {
    color: #000;
    font-size: 18px;
}
.MuiListItemText-root {
    color: #000000b5!important;
}

li.MuiListItem-root.MuiListItem-gutters {}

li.MuiListItem-root.MuiListItem-gutters {
    background: white;
    border-bottom: 1px solid #e2e2e2;
}
.list-services { background: none; }

.navbar {
    background: linear-gradient(45deg, #54cc79 10%, rgb(114, 249, 109) 90%)!important;
    position:fixed!important;
    text-align: center!important;
    height:50px;
    line-height:45px;
    color:white!important;
    font-weight:bolder!important;
    justify-content: center;
    display: block!important;
    top: 0;
}

.navbar h1 {
    display:none!important;
}

.main-link {
    text-align:center!important;
    display:inline-block!important;
    text-decoration: none;
    color: white!important;
    font-size: 19px;
}

.list-services {
    display: inline-block!important;
    float: left;
}

ul.MuiList-root.MuiList-padding {
    padding-top: 50px;
    /* margin-top: 0px; */
}

ul {
    /* padding-top: 40px; */
    padding-right: 20px;
    padding-left: 20px;

}
li.MuiListItem-root.MuiListItem-gutters {}

ul>div>li {

    background: linear-gradient(45deg, #54cc79 10%, rgb(114, 249, 109) 90%)!important;
    border:1px solid #18e033 !important;
    border-radius:50px;
    height:60px;
    margin-right:30px;
    margin-top:30px!important;
}
ul>div>li>a {
    text-decoration:none;
    text-transform: capitalize;
    color:white!important;
    font-weight:bold;
    font-size:16px;
    font-family: Roboto, sans-serif;
}

.searchIcon {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 45%;
    width: 160px;
}

@media screen and (max-width: 780px) {
    .searchIcon  {
        left: 67px;
    }
  }

.jss1 {
    position: fixed;
    z-index: 9999;
    width: 100%;
}
.MuiAppBar-colorPrimary {
    color: #fff;
    background: linear-gradient(45deg, #54cc79 10%, rgb(114, 249, 109) 90%)!important;
}

.main-link {
    text-align:center!important;
    display:inline-block!important;
    text-decoration: none;
    color: white!important;
    font-size: 19px;
    font-family: Roboto, sans-serif;
}

.jss1 {
    position: fixed;
    z-index: 9999;
    width: 100%;
}
.MuiAppBar-colorPrimary {
    color: #fff;
    background: linear-gradient(45deg, #54cc79 10%, rgb(114, 249, 109) 90%)!important;
    top:0;
    margin-top:-70px;
}

.main-link {
    text-align:center!important;
    display:inline-block!important;
    text-decoration: none;
    color: white!important;
    font-size: 20px;
    font-weight: bold;
    font-family: Roboto, sans-serif;
}

.main {
    padding-top: 70px;
}

ul.MuiList-root.MuiList-padding {
    padding-top: 0px;
}

.jss3 {
    left: 20%!important;
}
.info-divider {
    color: #17ce46;
    font-weight: 700;
}
.info-divider {
    color: #3c0582;
    font-weight: 700;
    font-family: Roboto,sans-serif;
    padding-top: 10px;
    margin-bottom: 0px;
}
